.board {
    border: 5px solid black;
    height: 80vh;
    width: 95vw;
    margin:0px;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;

}

.square {
    border:0.1px dashed grey;
    margin:0px;
    flex-grow: 1;
}