.board {
    border: 5px solid black;
    height: 80vh;
    width: 95vw;
    margin:0px;


}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
}


.square {
    background-color: "tan";
    border:0px solid black;
}